body {
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  height: 100vh;
  font-family: "Raleway" !important;
}

.title {
  font-family: "Satisfy";
  font-size: 3.5rem;
  color: #063852;
  font-weight: 300;
  padding: 0;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
  padding-right: -15px;
}

.highight {
  font-family: "Raleway" !important;
  font-weight: 700;
  font-size: 2rem;
  color: #333;
}

.container {
  height: 100%;
  padding-top: 100px;
}
table {
  margin-bottom: 50px !important;
}
